body{
    margin: 0;
    padding: 0;
}

.logo{
    margin: 25vh 0 0 0;
    height: 92px;
    width: 272px;
}

div{
    display: grid;
    flex-direction: column;
    justify-content: center;
}
#searchbar{
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    height: 34px;
    font-size: 16px;
    font: 16px arial,sans-serif;
    height: 34px !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    border-color: #DFE1E5;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    min-width: 400px;
    outline-style: hidden;
}
#searchbar:focus{
        border-color:transparent!important;
        outline:none;
}

#searchbar:hover{
    box-shadow: 0 0 4px 1px rgba(150, 145, 145, 0.3)

}
.twoboxes{
    
    background-color: #f1f1f1;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 25px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    list-style: none;
    
}

.twoboxes:hover{
    color: black;
    box-shadow: 0 0 2px rgba(0,0,0,.87);
}

#searchbutton{
    margin-right: 165px;
}

#doodlebutton{
    margin-left: 165px;
    margin-top: -58px;
}

@media only screen and (max-width: 600px){
    #searchbar{
        min-width: 300px;
    }
    
}